In [20]:
import pandas as pd
import numpy as np 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.metrics import r2_score
import os
os.chdir("D:/Training/Academy/ML(Python)/Datasets")

In [21]:
pizza = pd.read_csv("pizza.csv")
X = pizza[['Promote']]
y = pizza['Sales']

In [22]:
pizza

    Promote  Sales
0        23    554
1        56   1339
2        34    815
3        25    609
4        67   1600
5        82   2000
6        46   1000
7        14    300
8         6    150
9        47   1150
10       52   1200
11       88   2000
12       71   1750
13       78   2000
14       66   1500
15       44   1000
16       68   1600
17       90   2000
18       22    550

In [23]:
lr = LinearRegression()

kfold = KFold(n_splits=5, shuffle=True, random_state=25)
train_index, test_index = next(iter(kfold.split(pizza)))
X_train, y_train = X.iloc[train_index], y.iloc[train_index]
X_test, y_test = X.iloc[test_index], y.iloc[test_index]
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
r2_score(y_test, y_pred)

0.9775950823123692

In [24]:
kfold = KFold(n_splits=5, shuffle=True, random_state=25)
scores = []
for i, (train_index, test_index) in enumerate(kfold.split(pizza)):
    print(f"Fold {i}:")
    print(f"  Train: index={train_index}")
    print(f"  Test:  index={test_index}")    

    X_train, y_train = X.iloc[train_index], y.iloc[train_index]
    X_test, y_test = X.iloc[test_index], y.iloc[test_index]
    lr.fit(X_train, y_train)
    y_pred = lr.predict(X_test)
    scores.append( r2_score(y_test, y_pred) ) 
print("Scores: ", scores)
print("CV score =", np.mean(scores))

Fold 0:
  Train: index=[ 0  1  2  3  4  5  6  8  9 11 12 13 15 16 18]
  Test:  index=[ 7 10 14 17]
Fold 1:
  Train: index=[ 2  4  5  7  8  9 10 11 12 13 14 15 16 17 18]
  Test:  index=[0 1 3 6]
Fold 2:
  Train: index=[ 0  1  2  3  4  6  7  8 10 12 13 14 15 16 17]
  Test:  index=[ 5  9 11 18]
Fold 3:
  Train: index=[ 0  1  3  4  5  6  7  9 10 11 12 14 15 17 18]
  Test:  index=[ 2  8 13 16]
Fold 4:
  Train: index=[ 0  1  2  3  5  6  7  8  9 10 11 13 14 16 17 18]
  Test:  index=[ 4 12 15]
Scores:  [0.9775950823123692, 0.9790917952286047, 0.9910691519887425, 0.9833261216932679, 0.9713879680534088]
CV score = 0.9804940238552786

In [31]:
results = cross_val_score(lr, X, y, scoring='r2',cv=kfold)
print("Scores:", results)
print("CV score: ", np.mean(results))

Scores: [0.97759508 0.9790918  0.99106915 0.98332612 0.97138797]
CV score:  0.9804940238552786