In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import seaborn as sns
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score
import os 
os.chdir("D:/Training/Academy/ML(Python)/Datasets")

In [33]:
milk = pd.read_csv("milk.csv", index_col=0)
scaler = StandardScaler().set_output(transform='pandas')
df_scaled = scaler.fit_transform(milk) 
clust = DBSCAN(eps=0.5, min_samples=3)
clust.fit(df_scaled)
df_scaled_cpy = df_scaled.copy()
df_scaled_cpy['label'] = clust.labels_
df_scaled_cpy = df_scaled_cpy[df_scaled_cpy['label']!=-1]
if len( df_scaled_cpy['label'].unique() ) >= 2:
    print( silhouette_score(df_scaled_cpy.iloc[:,:-1],df_scaled_cpy['label'] ))
else:
    print("Sil Score cannot be calculated in this case.")

0.5344431042454364

In [ ]:
scores = []
for e in np.linspace(0.1, 2, 20):
    for m in [2,3,4,5,6]:
        clust = DBSCAN(eps=e, min_samples=m)
        clust.fit(df_scaled)
        df_scaled_cpy = df_scaled.copy()
        df_scaled_cpy['label'] = clust.labels_
        df_scaled_cpy = df_scaled_cpy[df_scaled_cpy['label']!=-1]
        if len( df_scaled_cpy['label'].unique() ) >= 2:
            scores.append([e,m, silhouette_score(df_scaled_cpy.iloc[:,:-1],
                                                 df_scaled_cpy['label'] )])   
df_scores = pd.DataFrame( scores, columns=['epsilon','min_pcts', 'score'] )
df_scores.sort_values( 'score', ascending=False )

    epsilon  min_pcts     score
13      0.9         3  0.657551
0       0.4         2  0.651894
15      1.0         3  0.647387
2       0.5         2  0.593446
4       0.6         2  0.593446
18      1.3         2  0.552889
20      1.5         2  0.552889
19      1.4         2  0.552889
17      1.2         2  0.552889
6       0.6         4  0.551975
1       0.4         3  0.538518
5       0.6         3  0.534443
3       0.5         3  0.534443
10      0.8         3  0.533038
24      1.9         2  0.518685
23      1.8         2  0.518685
22      1.7         2  0.518685
21      1.6         2  0.518685
25      2.0         2  0.518685
16      1.1         4  0.499563
7       0.7         2  0.488035
9       0.8         2  0.464674
11      0.8         4  0.457151
12      0.9         2  0.442280
14      1.0         2  0.434482
8       0.7         3  0.418695

##### Cluster Analysis

In [36]:
clust = DBSCAN(eps=0.9, min_samples=3)
clust.fit(df_scaled)
df_cluster = milk.copy()
df_cluster['cluster'] = clust.labels_
df_cluster.groupby('cluster').mean() # cluster centroids

             water    protein      fat   lactose       ash
cluster
-1       69.262500   8.175000  17.5625  2.937500  0.970000
 0       86.071429   4.121429   4.0000  5.221429  0.665714
 1       65.166667  10.733333  20.4000  2.233333  1.500000

In [37]:
df_cluster.sort_values('cluster')

            water  protein   fat  lactose   ash  cluster
Animal
DOLPHIN      44.9     10.6  34.9      0.9  0.53       -1
RAT          72.5      9.2  12.6      3.3  1.40       -1
RABBIT       71.3     12.3  13.1      1.9  2.30       -1
ELEPHANT     70.7      3.6  17.6      5.6  0.63       -1
HIPPO        90.4      0.6   4.5      4.4  0.10       -1
DOG          76.3      9.3   9.5      3.0  1.20       -1
CAT          81.6     10.1   6.3      4.4  0.75       -1
SEAL         46.4      9.7  42.0      0.0  0.85       -1
SHEEP        82.0      5.6   6.4      4.7  0.91        0
ZEBRA        86.2      3.0   4.8      5.3  0.70        0
PIG          82.8      7.1   5.1      3.7  1.10        0
HORSE        90.1      2.6   1.0      6.9  0.35        0
FOX          81.6      6.6   5.9      4.9  0.93        0
GUINEA PIG   81.9      7.4   7.2      2.7  0.85        0
BUFFALO      82.1      5.9   7.9      4.7  0.78        0
BISON        86.9      4.8   1.7      5.7  0.90        0
CAMEL        87.7      3.5   3.4      4.8  0.71        0
DONKEY       90.3      1.7   1.4      6.2  0.40        0
MONKEY       88.4      2.2   2.7      6.4  0.18        0
ORANGUTAN    88.5      1.4   3.5      6.0  0.24        0
LLAMA        86.5      3.9   3.2      5.6  0.80        0
MULE         90.0      2.0   1.8      5.5  0.47        0
DEER         65.9     10.4  19.7      2.6  1.40        1
REINDEER     64.8     10.7  20.3      2.5  1.40        1
WHALE        64.8     11.1  21.2      1.6  1.70        1

### Nutrient

In [39]:
nut = pd.read_csv("nutrient.csv", index_col=0)
scaler = StandardScaler().set_output(transform='pandas')
df_scaled = scaler.fit_transform(nut)

In [40]:
scores = []
for e in np.linspace(0.1, 2, 20):
    for m in [2,3,4,5,6]:
        clust = DBSCAN(eps=e, min_samples=m)
        clust.fit(df_scaled)
        df_scaled_cpy = df_scaled.copy()
        df_scaled_cpy['label'] = clust.labels_
        df_scaled_cpy = df_scaled_cpy[df_scaled_cpy['label']!=-1]
        if len( df_scaled_cpy['label'].unique() ) >= 2:
            scores.append([e,m, silhouette_score(df_scaled_cpy.iloc[:,:-1],
                                                 df_scaled_cpy['label'] )])   
df_scores = pd.DataFrame( scores, columns=['epsilon','min_pcts', 'score'] )
df_scores.sort_values( 'score', ascending=False )

    epsilon  min_pcts     score
1       0.3         2  0.922140
2       0.4         2  0.904057
3       0.5         2  0.775244
4       0.6         2  0.775244
5       0.7         2  0.686821
0       0.2         2  0.571084
6       0.8         2  0.520476
17      1.8         2  0.506517
18      1.9         2  0.480460
19      2.0         2  0.480460
7       0.9         2  0.436648
8       1.0         2  0.432370
9       1.0         3  0.431472
11      1.2         2  0.328501
12      1.3         2  0.328501
10      1.1         2  0.328501
13      1.4         2  0.308530
14      1.5         2  0.308530
15      1.6         2  0.280305
16      1.7         2  0.280305

In [41]:
clust = DBSCAN(eps=0.3, min_samples=2)
clust.fit(df_scaled)
df_cluster = nut.copy()
df_cluster['cluster'] = clust.labels_
df_cluster.groupby('cluster').mean() # cluster centroids

         energy    protein        fat    calcium      iron
cluster
-1       185.00  18.333333  11.190476  53.904762  2.457143
 0       343.75  19.500000  28.750000   9.000000  2.500000
 1       170.00  25.000000   7.000000   9.500000  1.350000