In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from tqdm import tqdm
from sklearn.metrics import r2_score, root_mean_squared_error, mean_absolute_error
import os
os.chdir("D:/Training/Academy/ML(Python)/Datasets")

In [2]:
pizza = pd.read_csv("pizza.csv")
X, y = pizza[['Promote']], pizza['Sales']

In [3]:
poly = PolynomialFeatures(degree=2, include_bias=False).set_output(transform='pandas')
X_poly = poly.fit_transform(X)
lr = LinearRegression()
lr.fit(X_poly, y)
lr.intercept_ , lr.coef_

(np.float64(-18.274917416646076), array([ 2.48006959e+01, -1.30947333e-02]))

#### Insurance

In [4]:
insure = pd.read_csv("Insure_auto.csv", index_col=0)
X = insure.drop('Operating_Cost', axis=1)
y = insure['Operating_Cost']

In [5]:
poly = PolynomialFeatures(degree=2, include_bias=False).set_output(transform='pandas')
X_poly = poly.fit_transform(X)
lr = LinearRegression()
lr.fit(X_poly, y)
lr.intercept_ , lr.coef_

(np.float64(-1455.231030816125),
 array([ 1.47533405e+02,  5.88905218e+01, -7.94261684e-02,  9.36654775e-02,
        -2.65057986e-02]))

In [6]:
poly = PolynomialFeatures(degree=3, include_bias=False).set_output(transform='pandas')
poly.fit_transform(X)

,Home,Automobile,Home^2,Home Automobile,Automobile^2,Home^3,Home^2 Automobile,Home Automobile^2,Automobile^3
Branch,,,,,,,,,
B01,400.0,1200.0,160000.0,480000.0,1440000.0,64000000.0,1.920000e+08,5.760000e+08,1.728000e+09
B02,350.0,360.0,122500.0,126000.0,129600.0,42875000.0,4.410000e+07,4.536000e+07,4.665600e+07
B03,600.0,800.0,360000.0,480000.0,640000.0,216000000.0,2.880000e+08,3.840000e+08,5.120000e+08
B04,800.0,1800.0,640000.0,1440000.0,3240000.0,512000000.0,1.152000e+09,2.592000e+09,5.832000e+09
B05,900.0,1600.0,810000.0,1440000.0,2560000.0,729000000.0,1.296000e+09,2.304000e+09,4.096000e+09
B06,200.0,1000.0,40000.0,200000.0,1000000.0,8000000.0,4.000000e+07,2.000000e+08,1.000000e+09
B07,120.0,900.0,14400.0,108000.0,810000.0,1728000.0,1.296000e+07,9.720000e+07,7.290000e+08
B08,340.0,1100.0,115600.0,374000.0,1210000.0,39304000.0,1.271600e+08,4.114000e+08,1.331000e+09
B09,490.0,900.0,240100.0,441000.0,810000.0,117649000.0,2.160900e+08,3.969000e+08,7.290000e+08
B10,700.0,800.0,490000.0,560000.0,640000.0,343000000.0,3.920000e+08,4.480000e+08,5.120000e+08

#### Boston

In [7]:
boston = pd.read_csv("Boston.csv")
X = boston.drop('medv', axis=1)
y = boston['medv']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)

In [8]:
poly = PolynomialFeatures(degree=2, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train) # train set transformed into polynomial 
X_tst_poly = poly.transform(X_test) # test set transformed into polynomial 
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred )

2.6635485505319316

In [9]:
poly = PolynomialFeatures(degree=3, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred )

193.45222139826174

In [10]:
poly = PolynomialFeatures(degree=4, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred )

70.94281244305972

#### Housing

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
housing = pd.read_csv("Housing.csv")

In [13]:
cat_hous = housing[ housing.columns[ housing.dtypes==object ] ]
num_hous = housing[ housing.columns[ housing.dtypes!=object ] ]
ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
ohe_hous = ohe.fit_transform(cat_hous)
hous = pd.concat([num_hous, ohe_hous], axis=1)
X, y = hous.drop('price', axis=1), hous['price']

In [14]:
from sklearn.compose import ColumnTransformer

In [15]:
ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE',ohe, list( housing.columns[ housing.dtypes==object ]))],
                             remainder='passthrough',
                             verbose_feature_names_out=False)
col_trnf = col_trnf.set_output(transform='pandas')
hous = col_trnf.fit_transform(housing)

#### Exp_Salaries

In [16]:
from sklearn.compose import make_column_selector

In [20]:
sals = pd.read_csv("Exp_Salaries.csv")
X, y = sals.drop('Salary', axis=1), sals['Salary']

In [22]:
ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE',ohe, make_column_selector(dtype_include=object) )],
                             remainder='passthrough',
                             verbose_feature_names_out=False)
col_trnf = col_trnf.set_output(transform='pandas')
X = col_trnf.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)

In [ ]:
degrees = [1,2,3,4]
scores = []
for d in degrees:
    poly = PolynomialFeatures(degree=d, include_bias=False).set_output(transform='pandas')
    X_trn_poly = poly.fit_transform(X_train)
    X_tst_poly = poly.transform(X_test)
    lr = LinearRegression()
    lr.fit(X_trn_poly, y_train)
    y_pred = lr.predict(X_tst_poly)
    scores.append([d, mean_absolute_error(y_test, y_pred ) ])
df_scores = pd.DataFrame(scores, columns=['degree', 'score'])
df_scores.sort_values('score')